body {
  font-family:cursive;
}

#contactForm {
  font-family:'Times New Roman', Times, serif;
}

#edit {
  font-family:'Times New Roman', Times, serif;
}

#new {
  font-family:'Times New Roman', Times, serif;
}

#header {
  font-family:'Times New Roman', Times, serif;
}







